#about {
    background: url('../img/programing.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: $about-text;
}

#about h1{
    color: $white;
}